.header {
  grid-area: header;
}

.content {
  grid-area: content;
  justify-items: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 95%;
  grid-template-areas:
    "header header"
    "content content";
}
