.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;

  .title-card {
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
