.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .question-card {
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .answer-card {
    max-width: 700px;
    min-width: 400px;
    margin-bottom: 20px;
    text-align: center;
  }

  .result-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .answer-container {
    display: flex;
    justify-content: center;
  }

  mat-card-content {
    width: 100%;
    overflow: auto;
  }
}
