<button mat-icon-button>
  <mat-icon (click)="goBack()">arrow_back</mat-icon>
</button>
<div class="flex-row">
  <div *ngIf="isLoadingResults || isRateLimitReached" class="result-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="result-rate-limit-reached" *ngIf="isRateLimitReached">
      Что-то пошло не так.
    </div>
  </div>
  <mat-card class="question-card">
    <mat-card-content>
      <h3>{{questionTitle}}</h3>
    </mat-card-content>
  </mat-card>
  <div class="answer-container" *ngIf="answers.length == 0">
    <mat-card class="answer-card">
      <mat-card-content>
        <h3>Еще нет ни одного ответа</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="answer-container" *ngFor="let item of answers">
    <mat-card class="answer-card">
      <mat-card-header>
        <mat-card-title>
          <h4>{{item.owner.display_name}}</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="item.body"></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
